# dependencies
/node_modules
.venv

# testing
/coverage

# generated site output and framework caches
/.astro/
/dist/
/.next/
/out/
/build
/public/_pagefind

# misc
.DS_Store

# debug
npm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# typescript
*.tsbuildinfo

# python
__pycache__

# editors
.vscode/
