@import "tailwindcss";
@plugin "@tailwindcss/typography";

@import "highlight.js/styles/stackoverflow-dark.css";

@theme {
  --color-primary: rgb(48, 112, 182);
  --color-primary-light: rgb(133, 167, 213);
  --color-magenta: rgb(227, 0, 102);
}
