<footer class="mt-12 border-t border-black-10 bg-white/40 dark:border-black-100 dark:bg-black-100/70">
  <div class="mx-auto max-w-7xl px-4 py-10 sm:px-6 lg:px-8">
    <div class="gap-6 md:flex md:items-center md:justify-between">
      <div class="flex items-center justify-center gap-4 text-sm md:order-2">
        <a href="/about/imprint" class="text-black-75 hover:text-black-100 dark:text-black-50 dark:hover:text-white">Legal Notice</a>
        <span class="text-black-25 dark:text-black-75">&bull;</span>
        <a href="/about/privacy" class="text-black-75 hover:text-black-100 dark:text-black-50 dark:hover:text-white">Privacy</a>
        <span class="text-black-25 dark:text-black-75">&bull;</span>
        <a href="https://github.com/netsci-rwth/ahorn" class="text-black-75 hover:text-black-100 dark:text-black-50 dark:hover:text-white">GitHub</a>
      </div>
      <p class="mt-6 text-center text-sm text-black-75 md:order-1 md:mt-0 md:text-left dark:text-black-50">
        <a href="/">AHORN</a> is a project by the <a href="https://netsci.rwth-aachen.de/">Chair for Computational Network Science</a> at <a href="https://rwth-aachen.de/">RWTH Aachen University</a>.
      </p>
    </div>
  </div>
</footer>

